<app-nav></app-nav>
<br>
<br>
<section id="m1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>Electricité</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                    <p>Une panne électrique peut causer des dégâts très inquiétants (détérioration des appareils électriques, incendies, etc.).</p>
                    
                    <p>Alors, pour un besoin de sécurité une bonne installation est requise !</p>
                      
                    <p>Nos interventions sont donc les suivantes :
                      <br>
                      • Rénovation électrique
                      <br>
                      • Diagnostic de votre installation actuelle
                      <br>
                      • Mise en norme NFC 15-100
                      <br>
                      • Pose d’interrupteurs, prises électriques et des systèmes d’éclairage
                      <br>
                      • Changement de tableau électrique
                      <br>
                      • Changement des disjoncteurs
                      <br>
                      • Pose de chauffage électrique
                      <br>
                      • Pose d’interphone et systèmes de sécurité
                      <br>
                      • Dépannage électrique
                      </p>
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/metier/m7.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>
