<app-nav></app-nav>
<br>
<br>
<section id="m1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>joint de pierre</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                    <p>
                    Spécialisé dans la rénovation de murs extérieurs. Nous connaissons l'importance de la qualité des joints des murs extérieurs. Afin d'obtenir la meilleure finition pour nos clients, nous proposons des joints de calcaire dans une variété de couleurs. Au fil des ans, les fissures de la pierre se sont brisées et se sont détériorées. résultat : </p>
                    <br>
                    <p>
                      • Fuite d'eau 
                    </p> 
                    <br>
                     <p>
                      • Détériorer les murs 
                    </p> 
                    <br>
                     <p>
                      • Réduire l'effet isolant de la maison 
                    </p> 
                    <br>
                       <p>
                      Confiez vos travaux de rénovation et d'isolation de murs extérieurs à Delta Façades, en vous appuyant sur une équipe de professionnels pour assurer la qualité de vie pendant de nombreuses années.                    </p>
                  </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/metier/m5.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>
