<section id = "contact">
    <div class="footer">
     
        
    </div>
    
    <footer class="footer-distributed">    
      <div class="footerImg">
        <img  src="/assets/img/deltalogo.png" width="150" height="150" style="background-color: #f2f2f2; border-radius: 50%;"> 
      </div>
  <div>
      <div class="footer-left">
        <br>
        <ul class="footer-links">
          <li><a  class ="text" routerLink="/acc">Accueil</a> </li>
          <li><a  class="text" routerLink="/deltafacades">Delta Façades</a> </li>
          <li><a class="text"routerLink="/metier">Nos métiers</a> </li>
          <li><a class="text" routerLink="/realiser">Nos réalisations</a> </li>
          <li><a class="text" routerLink="/formcontact">Contact</a> </li>
        </ul>
  
      </div>
  
      <div class="footer-center">
        <h3>Contact</h3>
       
         <div class="content"> 
           <br>
          <div class="place">
            
           <span  href="#">
              <img  src="/assets/img/local.png" width="35" height="35" ></span>
            <span class="text">12 RUE Pierre Curie, 59160 Lille</span>
          </div>
           <br>
          <div class="phone">
            <span  href="#">
              <img  src="/assets/img/télphone.png" width="35" height="35" ></span>
            <span class="text">+089-765432100</span>
          </div>
          <br>
           <span href="#">
              <img  src="/assets/img/adr.png" width="35" height="35" ></span>
            <span class="text">abc@example.com</span>
       </div>   
  </div>
      <div class="footer-right">
        <h3>Suivez-nous</h3>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <div class="social">
           
          <a href=""><span href="#"><img src="/assets/img/fac.png" width="40" height="40" ></span></a>
        
        
          <a href=""><span href="#"><img src="/assets/img/insta.png" width="40" height="40" ></span></a>
        
          <a href=""><span href="#"><img src="/assets/img/twitter.png" width="40" height="40" ></span></a>
        
        </div>
      </div>
    </div>
    </footer>
  
  </section>