<section id="delta">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="accueil">
              <br>
              <br>
            <div class="accueil">
             
              <h2>Delta Façades</h2>
            </div>
            <br>
      
            <div class="row">
              <div class="col-md-6">
               
                <div class="card-body"> 
                <img src="assets/img/img2.jpg" width="100%" height="100%" class="rounded float-left" alt="img">  
                </div>         
          
              </div>
              <div class="col-md-6">      
                        <div class="card-body">
                         <div class = "style">
                         
                          
                          <div class="card-text">
                            <h3>Entreprise générale de bâtiment </h3>
                            <p>

                              spécialisée dans les travaux de façades monocouche 
                              ,joint de pierre, isolation extérieure ,peinture, rénovation, maçonnerie et gros œuvre  dont le siège est à Lille dans le nord. Nous accompagnons tous vos projets de travaux.

                              L'engagement de nos travailleurs nous permet d'exécuter vos projets à temps à vos côtés.

                          <a routerLink="/deltafacades" class="btn">En savoir plus</a>
                        </div>
                        </div>
                      </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      
</section>
