<section id = "contact">
  <br>
  <br>
  
    <div class="footer">
    
        
    </div>
    <br>
    <footer class="footer-distributed">    
      <div class="footerImg">
        <img  src="/assets/img/deltalogo.png" width="150" height="150" style="background-color: #f2f2f2; border-radius: 50%;"> 
      </div>
  <div>
      <div class="footer-left">
       <br>
        <ul class="footer-links">
          <li><a  class ="text" routerLink="/acc">Accueil</a> </li>
          <li><a  class="text" routerLink="/deltafacades">Delta Façades</a> </li>
          <li><a class="text" routerLink="/m1">Nos métiers</a> </li>
          <li><a class="text" routerLink="/realiser">Nos réalisations</a> </li>
          <li><a class="text" routerLink="/formcontact">Contact</a> </li>
        </ul>
  
      </div>
  
      <div class="footer-center">
        <h3>Contact</h3>
       
         <div class="content"> 
           <br>
          <div class="place">
            
           <span  href="#">
              <img  src="/assets/img/local.png" width="35" height="35" ></span>
            <span class="text">433 RTE DE ROUQUAIROL 30900 NIMES 

            </span>
          </div>
           <br>
          <div class="phone">
            <span  href="#">
              <img  src="/assets/img/télphone.png" width="35" height="35" ></span>
            <span class="text">+33 466263793</span>
          </div>
          <br>
           <span href="#">
              <img  src="/assets/img/adr.png" width="35" height="35" ></span>
            <span class="text">abc@example.com</span>
       </div>   
  </div>
      <div class="footer-right">
        <h3>Suivez-nous</h3>
        <br>
        <br>
        
        <div class="social">
           
          <a class="photo" href=""><span href="#"><img src="/assets/img/fac1.png" width="50" height="50" ></span></a>
          <a class="photo" href=""><span href="#"><img src="/assets/img/insta0.png" width="50" height="50" ></span></a>
          <a class="photo" href=""><span href="#"><img src="/assets/img/twitter0.png" width="50" height="50" ></span></a>
      
        </div>
      </div>
    </div>
    </footer>
  
  </section>