<app-nav></app-nav>
<br>
<br>
<section id="m1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>isolation extérieure</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                   <p>Il est particulièrement adapté à la rénovation de maisons unifamiliales. L'isolation du monde extérieur est une solution avantageuse. D'une part, il peut réduire la consommation énergétique du bâtiment, et d'autre part, il peut donner au bâtiment une nouvelle esthétique. Dans le processus de rénovation des murs extérieurs, l'isolation des murs extérieurs (ITE) permet aux murs extérieurs de gagner une grande liberté architecturale tout en bénéficiant de performances thermo-acoustiques idéales (confort de vie, économie d'énergie, et réduction de l'impact des bâtiments sur l'environnement en réduisant le dioxyde de carbone émissions) ). Influence) . Les travaux d'isolation par l'extérieur, c'est aussi valoriser votre bien en rénovant les murs extérieurs et en économisant de l'énergie ou en améliorant le confort acoustique de l'ensemble de la maison. L'isolation du monde extérieur peut également améliorer la résistance et la durabilité du mur extérieur.
                    
                   </p>
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                 
                  <img src="assets/img/metier/m4.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>
