<app-nav></app-nav>
<br>
<br>
<section id="m1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>Plomberie</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <div class="card-text">
                   <p>Contactez Vous en avez marre des canalisations bouchées ? Des sanitaires de mauvaise qualité ? Des fuites qui récidivent ? Contactez DELTA FACADES Et votre problème sera résolu en un rien de temps !</p>
                   
                   <p>Ces situations sont désagréables et peuvent rapidement faire exploser la facture d’eau. Mais pas de panique, faites confiance à nos experts pour les réparer rapidement et mettre en place de nouveaux sanitaires. 
                    Bien évidemment, comptez sur nous pour l’achat de tous vos éléments sanitaires <b> (baignoires, WC, lavabos, douches italiennes, chaudières, etc.)</b>. <br> Nos différents services sont les suivants :
                   </p>
                   <p>
                    • Installation et réparation de robinetterie.
                    <br>
                    • Recherche et réparation fuite d’eau.
                    <br>
                    • Evacuations bouchées.
                    <br>
                    • Remplacement de la chaudière.
                    <br>
                    • Rénover son installation de plomberie.
                    <br>
                    • Installation de chauffe-eau
                    <br>
                    • Création d’un point d’eau
                    <br>
                    • Installation de sanitaires
                     </p>
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">   
                 
                <div class="card-body"> 
                  <img src="assets/img/metier/m6.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>
