<app-nav></app-nav>
<br>
<br>
<section id="m1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>Maçonnerie</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                    <p> De bons travaux de maçonnerie sont la base pour un bâtiment résistant et esthétique ; c’est pour cette raison que DELTA FACADES a choisi avec beaucoup d’attention son équipe de maçons afin de vous procurer des services de haute qualité. Nous effectuons diverses opérations telles que: remplissage de béton armé, rénovation des murs, mise en place de façades non porteuses, élévation ou agrandissement de bâtiments, etc.
                      
            </p>
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/metier/m8.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>

