<app-nav></app-nav>

<br>
<section id="m1">
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <br>
          <div class="m1">
              <h2>Rénovation</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                    <p> Rénover son espace est un choix crucial qui nécessite de la méthode et de la minutie ! DELTA FACADES vous accompagne donc, tout au long de cette démarche et met à votre service toute son expertise.
                      En étroite collaboration avec nos superviseurs de travaux, le choix des matériaux, les changements à effectuer, les délais et les coûts seront faits avec vous, ce pour votre entière satisfaction.
                       Soyez prêts à redécouvrir votre espace comme jamais auparavant.
            </p>
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/metier/m1.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
         
  </section>
  <br>
  <br>
<app-footer></app-footer>
