<app-nav></app-nav>
<br>
<br>
<section id="m1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>Gros œuvre</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                    <p>
                      DELTA FACADES, est un expert de l’imperméabilité de toitures terrasses et notamment dans les travaux de réfection. Nous fournissons et posons tous produits d’étanchéité : bitume, liquide et gargouille en plomb. <br>
                      Ce zone d'activité nécessite de travailler dans un environnement achalandé impose des restrictions d'accès importantes, une planification rigoureuse, une logistique irréprochable et des équipes spécialisées. <br>
                      Nous travaillons pour des organismes d’HLM, des entreprises privées et des collectivités locales dans le cadre de contrats d’entretien ou d’opérations ponctuelles.
               
               
                    </p>
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/metier/m9.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>
