<app-nav></app-nav>
<br>
<br>
<section id="m1">
 
    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>Façades monocouche</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                    <p> La beauté de la maison se traduit en grande partie par la façade. Par conséquent, faire le bon choix est crucial. C'est que quel que soit le type de bâtiment, Delta Façades peut vous apporter des réponses esthétiques et techniques efficaces basées sur notre savoir-faire, et vous offrir une variété de finitions et de couleurs. 
                     </p>
                     <p> Réduire sa façade nécessite un diagnostic détaillé de votre mur afin de pouvoir juger des travaux à prévoir et réaliser vos travaux de rénovation. Dans tous les cas, il vous faut : Nettoyez votre mur extérieur et décollez-le. Rénovez et réparez les murs. Traitez les murs. Faites les dernières touches. Protégez le mur dans les prochaines années. La rénovation des murs extérieurs est généralement l'occasion pour le propriétaire ou l'appartement de réaliser des travaux d'isolation par l'extérieur ou d'installer des fenêtres à double vitrage.
                      </p>
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/metier/m2.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>

