<app-nav></app-nav>
<br>
<br>
<section id="m1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="m1">
              <h2>Peinture</h2>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  
                  <div class="card-text">
                    <p>DELTA FACADES c’est aussi une équipe constituée de peintres experts en la matière.</p> 
                    <p>Afin de mieux embellir votre intérieur et/ou votre extérieur, un choix judicieux de la couleur devra être fait en fonction de l’environnement local, de la qualité du support et de la peinture. Comptez sur l’expertise de nos peintres de qualité afin d’avoir le meilleur rendu possible.</p>
                    <p>Surtout n’hésitez pas à consulter nos catalogues riches en options de peinture murale, d’intérieur et d’extérieur et de suggestions de décorations professionnelles.</p> 
           
                </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/metier/m3.jpg" width="60%" height="25%" class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  <br>
  <br>
<app-footer></app-footer>
