<section id="realisations">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <br>
        <br>

          <div class="realisations">
              <h2>Nos réalisations</h2>
            </div>
           
          
            <div class="row">
              
              <div class="col-md-6">
                <div class="card-body">

              
                  <div class="card-text">
                    <p>Nous intervenons dans tous les secteurs de la construction. Qu'il s'agisse de travaux difficiles d'accès, de gros œuvre ou de travaux de rénovation, notre équipe est prête à intervenir dans les plus brefs délais. Tous ont effectué un suivi de haute qualité du site Web. De plus, nous effectuons également des travaux d'économie d'énergie.</p>
                  
                    <a routerLink="/realiser" class="btn">En savoir plus</a>
                  </div>
              </div>
                         
          
              </div>
              <div class="col-md-6">      
                <div class="card-body"> 
                  <img src="assets/img/img5.jpg" width="100%" height="100% " class="rounded float-left" alt="img">  
                  </div>
                    </div>
               </div>
              </div>
            </div>
          </div>
  </section>
  
  
