
h2 { text-align: center ;
  font-size: 25px;
   border-bottom: 5px solid #ff6600 ; 
   width: 20%; 
   height: 20%;
    text-transform: uppercase;
    margin-left: 40%;
    color: #000;
    line-height: 50px;
    
}
  .container {
    background: #f2f2f2;
   
    font-size:15px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
     min-width: 100% ;
     min-height: 100% ;
     width: 40%;
  
  
  }
  h5 {
  font-size: 25px;
  text-align: justify;
  font-style: italic;
  color : #ff6600 ;
  }
  p {
    font-size: 19px;
    line-height: 35px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    margin-top: 30px;
    }
  .btn {
    background-color: #ff6600;
    border-radius:28px;
    border:1px solid #ff6600 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;	
    text-decoration:none;
    text-shadow:0px 1px 0px #ff6600;
 }
 .btn:hover {
    background-color:#ff6600;
 }
 btn:active {
    position:relative;
    top:1px;
 }
  .col-md-6  {
  text-align: center;
  
  } 
  .card-body{
    overflow: hidden;
    width: 100%;
    height: 100% ;
    border-radius: 25px;
  }
  .card-body img{
   
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
  }
  .card-body:hover img {
   -webkit-transform: scale(1.3);
   transform: scale(1.3);
  }
  
  @media (max-width: 880px) {
  
      .container .metiers,
    .container .card,
    .container .card-body{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
      h2 { text-align: center ;
        font-size: 16px;
         border-bottom: 5px solid #ff6600 ; 
         width: 40%; 
         height: 10%;
          text-transform: uppercase;
          margin-left: 30%;
          color: #000;
        
          
      }
      .card-body{
        overflow: hidden;
        width: 100%;
        height: 100% ;
        border-radius: 25px;
      }
      .card {
        background: white ;
        width : 100%;
        height: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        
      }
  }